@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
  }
/* 文章页背景 */
.layout_post>#post {
  /* 以下代表透明度为0.5 可以自行修改*/
  background: rgba(255,255,255,.3);
}

/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  /* 以下代表透明度为0.5 */
  background: rgba(255,255,255,.5);
}
/* 所有背景（包括首页卡片、文章页、页面页等） */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  /* 以下代表白色透明度为0.3 */
  background: rgba(255,255,255,.6);
}
/*侧边栏页面*/
#aside-content>.card-widget  {
  background: rgba(255,255,255,.6);
}
#aside-content>.sticky_layout>.card-widget{
  background: rgba(255,255,255,.6);
}
/*文章页面*/
.layout>#post{
    background: rgba(255,255,255,1);
}
/*分类页面*/
.layout>#page{
    
    background: rgba(255,255,255,.6);
}
/*时间轴页面*/
.layout>#archive{
    background: rgba(255,255,255,.6);
}
@media screen and (max-width: 800px) {
  #aside_content
  div:not(:last-child) {
      display: none;
      font-size: 13px;
  }
}